<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.autohome.server.dao.NewsDao">
    <insert id="save" parameterType="com.autohome.entity.NewsDetails" keyProperty="ndid" useGeneratedKeys="true">
        insert into news_details(title, author, ctime, content)
        values (#{title,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, now(), #{content,jdbcType=VARCHAR})
    </insert>

        <delete id="delete">
        </delete>

        <update id="update">
        </update>

        <select id="getAllByPage" resultType="com.autohome.common.dto.NewsDetailsDto">
            select ndid, title, author, ctime, content, comment_id from news_details
            limit #{pageNum,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
        </select>

        <select id="getOneById" resultType="com.autohome.common.dto.NewsDetailsDto">
        </select>

        <select id="getAllByTypeAndPage" resultType="com.autohome.common.dto.NewsDetailsDto">
        </select>
</mapper>
