<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.autohome.server.dao.OssOpDao">
    <insert id="save">
        insert into image(url, type)
        values (#{url,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER})
    </insert>
    <select id="selectAll" resultType="com.autohome.entity.oss.OssOp">
        select *
        from image
    </select>
</mapper>
