<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.autohome.server.dao.UserLoginDao">
    <select id="selectUser" resultType="com.autohome.common.dto.UserLoginDto">
        select id
        from user
        where name = {str} or email = {str} or phone = {str}
        and password= {psw}
    </select>
</mapper>
