<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.autohome.mail.dao.MailDao">
    <select id="selectMail" resultType="com.autohome.common.dto.UserLoginDto">
        select id
        from user
        where name = #{mail}
    </select>
    <insert id="insterUser" >
      insert userName = {userName},passWord = {passWord},
      email = {email} from user
    </insert>
    <select id="selectUser" resultType="com.autohome.common.dto.UserLoginDto">
        select id
        from user
        where name = #{name}
    </select>
</mapper>